@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;

400;700&display=swap");
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

#preloader.hide-preloader {
  -webkit-animation: hidePreloader 3s;
          animation: hidePreloader 3s;
}

#preloader.preloader-hidden {
  display: none;
}

@-webkit-keyframes hidePreloader {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hidePreloader {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: clamp(0.625rem, -0.077rem + 3.51vw, 3.125rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 0 20px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 30;
  border-bottom: 1px solid #3b3a63;
}

.header__logo {
  padding: 5px;
  text-decoration: none;
}

.menu__icon {
  display: none;
}

.menu__body.active {
  left: 0;
}

.menu__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(0.225rem, 0.274rem + 1.75vw, 1.475rem);
}

.menu__link {
  color: #000000;
  text-decoration: none;
  font-size: clamp(0.2rem, 0.232rem + 0.84vw, 1rem);
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 30px;
  overflow-y: auto;
  z-index: 99999;
  display: none;
}

.modal__main {
  position: relative;
  max-width: 37.1875rem;
  background-color: azure;
  margin: auto;
  color: black;
  border-radius: 16px;
  padding: 2.5rem;
  cursor: default;
}

.modal__title {
  color: #fff;
  font-weight: 700;
  font-size: clamp(1.2rem, 0.545rem + 1.27vw, 1.5rem);
  text-align: center;
}

.modal__title img {
  display: inline-block;
  margin-right: 10px;
  margin-top: 5px;
  max-width: 100%;
  height: auto;
}

.measure .modal__main {
  background: #ef7f04;
}

.order .modal__main,
.video .modal__main {
  background: #3b3a63;
}

.personal__info-order {
  color: #ef7f04 !important;
}

.modal__content input:not([type=checkbox]) {
  display: block;
  width: 100%;
  border-radius: 0.1875rem;
  background: #FFF;
  padding: 1rem 0.5rem;
  border: none;
  color: #3b3a63;
  font-size: clamp(0.6rem, 0.486rem + 0.57vw, 1rem);
}

.modal__content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.personal__check {
  margin-top: 20px;
  margin-left: 10px;
  color: #fff;
  text-align: center;
  font-size: clamp(0.6rem, 0.521rem + 0.39vw, 0.875rem);
}

.personal__info {
  color: #3b3a63;
}

.modal__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 22px;
  position: absolute;
  top: 18px;
  right: 18px;
  color: #fff;
  outline: 1px solid transparent;
  outline-offset: 3px;
  -webkit-transition: outline-color 0.15s ease-in-out;
  -o-transition: outline-color 0.15s ease-in-out;
  transition: outline-color 0.15s ease-in-out;
  border-radius: 3px;
  z-index: 9999;
}

.modal__close:focus-visible {
  outline-color: green;
}

.window {
  padding: 0 20px;
}

.window__title {
  font-size: clamp(1.5rem, 1.286rem + 1.07vw, 2.25rem);
  font-weight: 100;
  color: #fff;
}

.window__title span {
  color: #ef7f04;
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
}

.window__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.window__images p {
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.125rem;
  text-align: center;
}

.window__images svg {
  display: block;
  margin: 0 auto;
}

.window__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
  gap: 80px;
}

.window__form {
  position: relative;
  max-width: 25.375rem;
  padding: clamp(1.2rem, 0.829rem + 1.86vw, 2.5rem);
  background: #fff;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.window__form h3 {
  text-align: center;
  color: #3b3a63;
}

.window__form textarea,
.window__form input:not([type=checkbox]) {
  display: block;
  width: 100%;
  border-radius: 0.1875rem;
  background: #E2E2E2;
  padding: 1rem 0.5rem;
  border: none;
  color: #3b3a63;
  font-size: clamp(0.6rem, 0.486rem + 0.57vw, 1rem);
  resize: none;
}

.window__form .personal__check-window {
  color: #000000;
}

.window__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.services__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.65em 0.65em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  padding: 15px;
}

.services__item {
  max-width: 37.1875rem;
  max-height: 16.75rem;
  padding: 2rem clamp(2rem, -0.429rem + 17.14vw, 15rem) 2rem 2rem;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.1875rem;
}

.services__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem;
}

.services__item-header-title {
  max-width: 15rem;
  color: #3b3a63;
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  font-weight: 700;
}

.services__item-header-text {
  max-width: 19rem;
  color: #3b3a63;
  font-size: 1rem;
  font-weight: 400;
}

.products img {
  max-width: 100%;
  height: auto;
}

.products__section {
  padding: 40px;
}

.products__garantue {
  padding: 2rem;
  margin: 3rem 0;
}

.products .garantue__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.products .garantue__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products .garantue__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .garantue__item p {
  color: #fff;
  text-align: center;
  margin-top: 2rem;
  max-width: 12rem;
}

.products .btn__two-products {
  margin: 0 auto;
}

.tabs__btns,
.tabs__btns-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(0.6rem, 0.314rem + 1.43vw, 1.6rem);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}

.tabs__btns button,
.tabs__btns-company button {
  border: none;
  color: #3b3a63;
  cursor: pointer;
}

.tab__content,
.tab__content-company {
  background: #fff;
}

.tab__content > div,
.tab__content-company > div {
  display: none;
}

.tab__section.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 10px;
}

.tab__section-company.active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 10px;
}

.tab__section-company-slider.active {
  display: block !important;
}

.tab__section-video {
  position: relative;
}

.tab__section-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.tab__section-about p {
  max-width: 19.04931rem;
}

.tab__section-company-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab__section-info h4 {
  color: #ef7f04;
  font-size: clamp(1rem, 0.643rem + 1.79vw, 2.25rem);
  font-weight: 700;
}

.tab__section-info p {
  color: #000000;
  font-size: clamp(0.8rem, 0.707rem + 0.46vw, 1.125rem);
  font-weight: 300;
}

.tab__section-info div {
  font-size: clamp(0.8rem, 0.707rem + 0.46vw, 1.125rem);
  font-weight: 400;
  line-height: clamp(1rem, 0.571rem + 2.14vw, 2.5rem);
}

.tab__section-info div span {
  color: #3b3a63;
  font-size: clamp(0.8rem, 0.707rem + 0.46vw, 1.125rem);
  font-weight: 700;
  line-height: clamp(1rem, 0.571rem + 2.14vw, 2.5rem);
}

.tab__content-work h5 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #3b3a63;
  margin-top: 3rem;
}

.tab__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tab__work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.tab__work h6 {
  color: #3b3a63;
  text-align: center;
  font-weight: 700;
  line-height: clamp(0.8rem, 0.778rem + 0.11vw, 1.625rem);
  text-transform: uppercase;
}

.tab__work p {
  font-weight: 400;
  line-height: clamp(0.8rem, 0.778rem + 0.11vw, 1.625rem);
  text-align: center;
}

.active__btn {
  background-color: #ef7f04;
  color: #fff;
  font-size: clamp(0.5rem, 0.414rem + 0.43vw, 0.8rem);
  font-weight: 700;
  border-radius: 0.1875rem;
  padding: 0.75rem 1.19rem;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 0.8rem 1rem;
  color: #fff !important;
}

.active__btn img {
  margin-right: 10px;
}

.active__btn:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.tab__content .active,
.tab__content-company .active {
  display: block;
}

.company {
  padding: 20px;
}

.company__information-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.company__information {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.company__information-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  gap: 1rem;
}

.company__information-item h6 {
  color: #3b3a63;
  padding: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
  /* 162.5% */
  text-transform: uppercase;
}

.company__information-item p {
  color: #000000;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

.video__img {
  max-width: 100%;
  height: auto;
  position: relative;
}

.img__box img {
  max-width: 100%;
}

.swiper__portfolio,
.swiper__certificate {
  padding: clamp(1.563rem, 1.116rem + 2.23vw, 3.125rem) 20px;
  text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: #ef7f04 !important;
}

.swiper-pagination {
  display: none !important;
}

span.swiper-pagination-bullet {
  color: #ef7f04 !important;
}

.title__orange {
  color: #fff !important;
  padding-top: 2rem;
}

.container__orange {
  background: #ef7f04;
}

.accordion__wrapper {
  padding: 1rem;
}

.accardion {
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 1rem;
  background-color: #fff;
}

.accardion.active .accardion__heading {
  color: #ef7f04;
}

.accardion.active .accardion__heading svg {
  color: white;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.2s 0.1s;
  transition: -webkit-transform 0.2s 0.1s;
  -o-transition: transform 0.2s 0.1s;
  transition: transform 0.2s 0.1s;
  transition: transform 0.2s 0.1s, -webkit-transform 0.2s 0.1s;
}

.accardion.active .accardion__content {
  display: block;
}

.accardion__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accardion__heading h3 {
  color: #3b3a63;
  font-size: clamp(0.8rem, 0.743rem + 0.29vw, 1rem);
}

.accardion__content {
  display: none;
  -webkit-animation: animate 0.2s linear backwards;
          animation: animate 0.2s linear backwards;
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

.contacts {
  padding-bottom: 20px;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 30px;
}

.contacts svg {
  height: 20px !important;
  width: 20px !important;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.contacts svg:hover {
  fill: #3b3a63;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.contacts__subtitle {
  color: #3b3a63;
  font-size: 1.125rem;
  font-weight: 700;
}

.contacts__numbers,
.contacts__address,
.contacts__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  color: #000000;
  font-size: clamp(0.7rem, 0.664rem + 0.18vw, 0.825rem);
  line-height: 2.25rem;
  /* 163.636% */
}

.contacts__text {
  color: #3b3a63;
  font-size: clamp(0.8rem, 0.743rem + 0.29vw, 1rem);
  font-weight: 400;
  line-height: 1.375rem;
  max-width: 14rem;
}

.container-fluid-blue {
  background-color: #3b3a63;
  padding: 1.5rem 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__img {
  width: 3.4375rem;
  height: 2.41869rem;
}

.footer__company,
.footer__politic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.3rem;
}

.footer__company span,
.footer__politic span {
  color: #fff;
  font-size: clamp(0.8rem, 0.771rem + 0.14vw, 0.9rem);
  font-weight: 400;
  line-height: clamp(0.8rem, 0.671rem + 0.64vw, 1.25rem);
}

body,
html {
  background: #F2F2F2;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  scroll-behavior: smooth;
  position: relative;
}

a {
  color: rgb(0, 0, 0);
  position: relative;
  text-decoration: none;
  font-weight: 700;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ef7f04;
  bottom: -5px;
  left: 0;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

a:hover::before {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  color: #ef7f04;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.container__fluid {
  max-width: 100%;
  margin: 0 auto;
}

.btn__img {
  width: clamp(0.6rem, 0.418rem + 0.91vw, 1.25rem);
}

.form__check {
  color: red;
  height: 10px;
  font-size: 12px;
}

.licence {
  font-size: 12px;
  color: red;
  height: 10px;
  margin-top: 5px;
}

.title {
  color: #3b3a63;
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  font-weight: 700;
  text-align: center;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.btn__one {
  background-color: #ef7f04;
  color: #fff;
  font-size: clamp(0.5rem, 0.414rem + 0.43vw, 0.8rem);
  font-weight: 700;
  border-radius: 0.1875rem;
  padding: 0.75rem 1.19rem;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.btn__one img {
  margin-right: 10px;
}

.btn__one:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.btn__two {
  background-color: #3b3a63;
  color: #fff;
  font-size: clamp(0.5rem, 0.414rem + 0.43vw, 0.8rem);
  font-weight: 700;
  border-radius: 0.1875rem;
  padding: 0.75rem 1.19rem;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.btn__two img {
  margin-right: 10px;
}

.btn__two:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.btn__review {
  background-color: #ef7f04;
  color: #fff;
  font-size: clamp(0.5rem, 0.414rem + 0.43vw, 0.8rem);
  font-weight: 700;
  border-radius: 0.1875rem;
  padding: 0.75rem 1.19rem;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.btn__review img {
  margin-right: 10px;
}

.btn__review:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.btn__send {
  background-color: #fff;
  color: #fff;
  font-size: clamp(0.5rem, 0.414rem + 0.43vw, 0.8rem);
  font-weight: 700;
  border-radius: 0.1875rem;
  padding: 0.75rem 1.19rem;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: orange;
}

.btn__send img {
  margin-right: 10px;
}

.btn__send:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.btn__send-order {
  color: #3b3a63;
}

.btn__send-window {
  background-color: #ef7f04;
  color: #fff;
  font-size: clamp(0.5rem, 0.414rem + 0.43vw, 0.8rem);
  font-weight: 700;
  border-radius: 0.1875rem;
  padding: 0.75rem 1.19rem;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: #fff;
}

.btn__send-window img {
  margin-right: 10px;
}

.btn__send-window:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 1170px) {
  .header__logo {
    width: clamp(3rem, 2.272rem + 3.64vw, 4.594rem);
  }
}

@media (max-width: 1110px) {
  .active__btn {
    padding: 0.4rem 0.6rem;
  }

  .btn__one {
    padding: 0.4rem 0.6rem;
  }

  .btn__two {
    padding: 0.4rem 0.6rem;
  }

  .btn__review {
    padding: 0.4rem 0.6rem;
  }

  .btn__send {
    padding: 0.4rem 0.6rem;
  }

  .btn__send-window {
    padding: 0.4rem 0.6rem;
  }
}

@media (max-width: 1100px) {
  .products .garantue__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .active__btn img {
    margin-right: 5px;
  }

  .btn__one img {
    margin-right: 5px;
  }

  .btn__two img {
    margin-right: 5px;
  }

  .btn__review img {
    margin-right: 5px;
  }

  .btn__send img {
    margin-right: 5px;
  }

  .btn__send-window img {
    margin-right: 5px;
  }
}

@media (max-width: 992px) {
  .menu__icon {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
  }

  .menu__icon span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ef7f04;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  .menu__icon span:first-child {
    top: 0;
  }

  .menu__icon span:last-child {
    top: auto;
    bottom: 0;
  }

  .menu__icon.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__icon.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .menu__icon.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .menu__body {
    position: absolute;
    top: 0;
    left: -120%;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    z-index: 1;
  }

  .menu__list {
    padding: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
  }

  .menu__link {
    display: block;
    font-size: clamp(1rem, 0.714rem + 1.43vw, 2rem);
    line-height: 30px;
    color: #fff;
  }

  .modal__content input:not([type=checkbox]) {
    padding: 0.8rem 0.4rem;
  }

  .window__form textarea,
  .window__form input:not([type=checkbox]) {
    padding: 0.8rem 0.4rem;
  }
}

@media (max-width: 990px) {
  .active__btn {
    padding: 0.8rem 1rem;
    font-size: 12px;
  }

  .btn__one {
    padding: 0.8rem 1rem;
    font-size: 12px;
  }

  .btn__two {
    padding: 0.8rem 1rem;
    font-size: 12px;
  }

  .btn__review {
    padding: 0.8rem 1rem;
    font-size: 12px;
  }

  .btn__send {
    padding: 0.8rem 1rem;
    font-size: 12px;
  }

  .btn__send-window {
    padding: 0.8rem 1rem;
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .window__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 786px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
  }

  .footer__company,
  .footer__politic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .services__content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }

  .tab__section.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tab__section-company.active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tab__work {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .company__information-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
  }

  .company__information-item h6 {
    margin: 0;
  }

  .company__information-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .company__information-item h6,
  .company__information-item p {
    text-align: center;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }

  .accardion__heading svg {
    height: 15px !important;
    width: 15px !important;
  }

  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  svg {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 490px) {
  .window__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 480px) {
  .swiper-pagination {
    display: block !important;
  }
}

@media (max-width: 440px) {
  .active__btn {
    padding: 0.6rem 0.8rem;
  }
}

@media (max-width: 425px) {
  .tab__section-info div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .tab__section-info div span.tabs__dots {
    display: none;
  }
}